* {
  box-sizing: border-box;
  font: inherit;
  color: inherit;
}

body {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
}

.container {
  width: 80%;
  margin: 0 auto;
  margin-top: 24px;
}

/* --------------------------------- header --------------------------------- */
header {
  display: flex;
  justify-content: space-between;
  margin: 40px 0;
}

.team--name {
  font-family: "PT Serif", serif;
  font-weight: 700;
  font-size: 36px;
}

.headline {
  font-weight: 600;
}

.team--about {
  width: 50%;
  font-size: 18px;
}

.description {
  width: 70%;
}

/* ------------------------------ main section ------------------------------ */
main {
  display: flex;
  flex-wrap: wrap;
  padding: 80px 0;
}
.team--member {
  flex: 1 0 33%;
  padding-right: 80px;
}

.team--photo {
  display: flex;
}

.team--photo img {
  width: 100%;
}

.team--job {
  font-family: "PT Serif", serif;
  font-weight: 400;
  font-size: 12px;
  text-transform: uppercase;

  writing-mode: vertical-rl;
  margin: 0 0 0 8px;
}

.team--member--name {
  font-size: 18px;
  font-weight: 600;
  margin-top: 24px;
}

.team--member:nth-child(3n-1) {
  margin-top: 100px;
}

/* --------------------------------- footer --------------------------------- */
footer {
  margin: 0 auto;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  width: fit-content;
  font-size: 14px;
  color: #a9a9a9;
}

/* ---------------------------------- media --------------------------------- */
/* ---------------------------------- 768px --------------------------------- */
@media only screen and (max-width: 768px) {
  .container {
    width: 80%;
    margin: 0 auto;
  }

  header {
    flex-direction: column;
  }

  .team--about {
    width: 100%;
  }

  .description {
    font-size: 14px;
    width: 60%;
  }

  main {
    padding-top: 0;
  }

  .team--photo img {
    width: 75%;
  }

  .team--member {
    flex: 1 0 50%;
    padding-right: 24px;
  }

  .team--job {
    font-size: 14px;
  }

  .team--member--name {
    font-size: 18px;
    margin-top: 0px;
  }

  .team--member:nth-child(3n-1) {
    margin-top: 0;
  }

  .team--member:nth-child(2n) {
    margin-top: 40px;
  }
}

@media only screen and (max-width: 425px) {
  .container {
    width: 80%;
  }

  .description {
    width: 100%;
  }

  .team--photo img {
    width: 100%;
  }

  .team--job {
    font-size: 10px;
  }

  .team--member {
    padding-right: 2.5rem;
  }

  .team--member--name {
    font-size: 14px;
  }
}
